.info{
  display: flex;
  p{
    margin-right: 5px;
  }
  .break{
    word-break: break-all;

  }
}

::ng-deep{
  .mat-slider-track-fill, .mat-slider-thumb{
    background-color: #404040 !important;
  }
}
