.container{
  display: grid;
  text-align: center;
  h1{
    margin-bottom: 10px;
  }
  .info{
    display: flex;
    margin: 0 auto;
    p{
      margin-right: 5px;
      font-weight: bold;
    }
    .break{
      word-break: break-all;
      font-weight: normal;
    }
  }
}

::ng-deep .dark{
  p{
    color: beige;
  }
  h1{
    color: beige;
  }
  .gridSizeValue{
    color:beige;
  }
  .mat-slider-track-background{
    background-color: beige;
  }
}
