<div class="container">
  <h1>Details</h1>
  <div class="info">
    <p class="bold">Name: </p>
    <p class="break">{{toDo.name}}</p>
  </div>
  <div class="info">
    <p class="bold">Status: </p>
    <p class="break">{{toDo.status}}</p>
  </div>
  <div class="info">
    <p class="bold">Description:</p>
    <p class="break">{{toDo.description}}</p>
  </div>
  <div class="info">
    <p class="bold">Date:</p>
    <p class="break">{{toDo.date}}</p>
  </div>
  <div>
    <span class="gridSizeValue bold">Priority: </span>{{toDo.priority}}<br>
    <mat-slider [value]="toDo.priority" step="5" min="0" max="100" style="pointer-events: none;"></mat-slider>
  </div>
  <button mat-raised-button color="primary" [routerLink]="['/edit', toDo.id]">Edit</button>
</div>
