::ng-deep{
  .simple-snack-bar {
    background-color: #3f51b5;
    .mat-simple-snackbar {
      justify-content: center;
    }
  }
  .simple-snack-bar-red {
    background-color: red;
    .mat-simple-snackbar {
      justify-content: center;
      color: black;
    }
  }

}

nav{
  margin-bottom: 20px;
}
