<div class="container" style="margin-top: 30px;">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input type="email" matInput [formControl]="nameFormControl"
           placeholder="Ej. Limpiar">
    <mat-error *ngIf="nameFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput [formControl]="descriptionFormControl"></textarea>
    <mat-error *ngIf="descriptionFormControl.hasError('required')">
      Description is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <div>
    <span>Prioridad: </span><b class="gridSizeValue">{{priorityNumber}}</b><br>
    <mat-slider (input)="priorityNumber = $event.value"  [value]="priorityNumber" step="5" min="0" max="100" ></mat-slider>
  </div>
</div>
<div class="btn-add">
  <button class="btn btn-danger" (click)="onAddToDo()" >Add toDo</button>
</div>
